@model Gerenciamento_de_Tarefas.Models.Tarefa

@{
    ViewData["Title"] = "Detalhes da Tarefa";
}

<h2>@Model.Titulo</h2>

<div>
    <p><strong>Descrição:</strong> @Model.Descricao</p>
    <p><strong>Descrição:</strong> @Model.Id</p>
    <p><strong>Descrição:</strong> @Model.DataCriacao</p>
    <p><strong>Descrição:</strong> @Model.DataDeInicioDaTarefa</p>
    <p><strong>Descrição:</strong> @Model.DataFimDaTarefa</p>
    <p><strong>Descrição:</strong> @Model.StatusDaTarefa</p>
</div>

